body
{
margin: 0 auto;
width:2000px;
}

header{
height:100px:

}
section{
width: 1440;
height: 665;
top: 111px;
left: -1px;
}
.flex-container{
display:flex;
color:blue;
text-decoration:none;
float:right;
font-size:20px;
}
a{
text-decoration:none;
}
.flex-container>div{
text-align:center;
float:right;
margin-top:20px;
padding:40px;
font-size:20px;
}

.harnes{
background-image:url("images/frame 1.png");
width: 1440;
height: 665;
top: 111px;
left: -1px;
}

h1{
color:white;
width:716px;
float:center;
padding:120px;
height:234px;
margin-left:188px;
font-size:65px;
}
p{
color:white;
float:center;
width:716px;
height:234px;
margin-bottom:150px;
margin-left:300px;
font-size:20px;
}

#white{
float:right;
margin-top: -600px;
margin-right:200px;
}
#unlock{
color:blue;
padding:120px;
}
p1{
float:center;
width:716px;
height:234px;
margin-bottom:-400px;
margin-left:-800px;
margin-top:400px;
font-size:20px;

}
.flex-box{
color:blue;
display:flex;
background-image:url("images/gray-tray.jpg");
width: 1440;
height: 665;
margin-top: -120px;
}

.flex-key{
background-image:url("images/group 3607.png");
width: 1440;
height: 700px;
top: 1440px;
repeat:no-repeat;
}
.flex-key>div{
float:center;
margin-width:1300px;
height: 650px;
margin-top:100px;
margin-left: 162px;
margin-right: 162px;
opacity: 0.74;
border-radius: 40px;
background-color: blue;
margin-padding:40px;
}
#key{
width: 1300px;
height:60px;
top: 1522px;
margin-right:373px;
text-line-height:51px;
text-letter=-4%;
text-align:center;
font-size:45px;

}
#para{
width: 1000px;
height: 174px;
top: 1650px;
margin-left: 409px;
text-align:center;
text-line-height:29px;
text-letter:-4%;
font-size:20px;
}
#photo-left{
display:flex;
float:left;
width: 435px;
height: 413px;
top: 2167px;
margin-left: 188px;
}

#inter{
display:flex;
width: 701px;
height: 183px;
top: 2167px;
left: 704px;
gap: 20px;
color:blue;
font-family: Plus Jakarta Sans;
font-weight: 700;
font-size: 46px;
line-height: 61px;
letter-spacing: -4%;

}
.photo{
display:flex;
background-image:url("images/gray-tray.jpg");
margin-width: 1540px;
height: 665px;
top: 111px;
left: -1px;
repeat:no-repeat;
color:blue;
}
#effect{
display:flex;
color:blue;
width: 536px;
height: 193px;
top: 2380px;
margin-left: 950px;
margin-bottom:200px;
margin-top:-300px;
font-family: Plus Jakarta Sans;
font-weight: 400;
font-size: 20px;
line-height: 29px;
letter-spacing: -4%;
}
#explore{
float:center;
color:blue;
width: 1042;
height: 122px;
font-family: Plus Jakarta Sans;
font-weight: 600;
font-size: 40px;
line-height: 61px;
letter-spacing: -4%;
text-align: center;
margin-left:500px;
}
.gallery{
display:flex;
background-image-width: 1440;
background-image-height: 748;
background-image-top: 2750px;
color:blue;
}
figure{
background-image:url("images/blue-border.jpg");
width: 1440;
height: 748;
top: 2750px;

}
#cyberstack{
width: 345;
height: 395;
top: 3004px;
left: 188px;
}
#commandhub{
width: 345;
height: 395;
top: 3004px;
left: 188px;
}
#cybersheild{
width: 345;
height: 395;
top: 3004px;
left: 188px;
}
.last{
display:flex;
background-image:url("images/creative.png");
width:2048;
height:1024px;
}
#discover{
color:white;
width: 719;
height: 232;
padding:150px;
top: 3636px;
left: 189px;
gap: 20px;
font-family: Plus Jakarta Sans;
font-weight: 700;
font-size: 45px;
line-height: 58px;
letter-spacing: -4%;
font-size:60px;

}
h4{
color:white;
text-align:center;
width:432px;
height:164px;
margin-left:350px;
padding:-550px;
size:35px;
}
footer{
background-color:blue;
display:block;
margin:50px 0px;
padding:100px;
font-size:20px;
color:white;
}

nav ul{
list-style-type:none;
text-align:center;
font-size:30px;
display:block;
}
nav li{
display:inline;
word-spacing:40px;
}

