body {
    margin: 0 auto;
    width: 2000px;
    font-family: "Montserrat", serif;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header {
    height: 100px;
}

.flex-container {
    display: flex;
    color: blue;
    text-decoration: none;
    float: right;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.flex-container>div {
    text-align: center;
    float: right;
    margin-top: 20px;
    padding: 40px;
    font-size: 20px;
}

.harnes {
    width: 1440;
    height: 665;
    top: 111px;
}

h1 {
    color: white;
    width: 716px;
    font-size: 65px;
}

p {
    color: white;
    width: 716px;
    font-size: 20px;
}

.harness-section {
    background-image: url("images/frame 1.png");
    padding-top: 100px;
}

#group-3609 {
    width: 550px;
    height: 450px;
    padding: 70px;
}

#unlock {
    color: blue;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}

#unlock-para {
    color: blue;
    padding-left: 50px;
    font-size: 20px;

}

.unlocking-section {
    background-image: url("images/gray-tray.jpg");

}

.flex-box {
    display: flex;
}

.key-container {
    background-image: url("images/Group\ 3607.png");
    padding-top: 40px;
    padding-bottom: 40px;
}


.flex-key>div {

    opacity: 0.74;
    border-radius: 40px;
    background-color: blue;
    width: 800px;
    padding: 100px;
    text-align: center;
}

#key {

    margin: 10px;
    font-size: 45px;

}

#para {

    font-size: 20px;
}

#photo-left {
    height: 413px;
    padding-top: 100px;
    padding-right: 100px;
}

#inter {

    color: blue;
    padding-top: 100px;
    font-size: 50px;


}

.container-photo {
    background-image: url("images/gray-tray.jpg");
    padding-top: 100px;
    
}

.photo {
    display: flex;
}

#effect {

    color: blue;
}

#explore {
    color: blue;
    padding-left: 250px;
    font-size: 40px;
    width: 850px;
    text-align: center
}

figcaption {
    font-size: 40px;
}

.gallery-explore {
    background-image: url("images/blue-border.jpg");
    padding-top: 100px;
    padding-bottom: 200px;
}

.gallery {
    display: flex;
    color: blue;
}

.last {
    display: flex;
    background-image: url("images/creative.png");
    padding-top: 100px;
    padding-bottom: 200px;
}

#discover {
    color: white;
    padding-left: 50px;
    padding-top: 100px;
    font-size: 50px;

}

#in {
    color: white;
    padding-left: 60px;
}

.footer {
    display: flex;

}

.footer>div {

    font-size: 20px;
    color: white;
    text-align: center;
    padding-left: 100px
}

footer {
    background-color: rgb(16, 57, 190);
    margin: 20px 0px;
}

.card {
    position: relative;
    width: 33%;
    height: 300px;
    color: aliceblue;
    font-size: 40px;
}

.card h4 {

    margin-top: auto;
    padding-left: 25%;

}

.card img {
    height: 100%;
    width: 100%;
}

.blue-line {

    background-color: #2b2bf5a6;
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;

}

#vector3 {
    padding-top: 150px;
    height: 215px;
}
#vector4{
    height: 215px;
    padding-right: 100px;
}