body
{
margin: 0 auto;
width:2000px;
}

header{
height:100px:

}
.flex-container{
display:flex;
color:blue;
text-decoration:none;
float:right;
font-size:20px;
}
a{
text-decoration:none;
}
.flex-container>div{
text-align:center;
float:right;
margin-top:20px;
padding:40px;
font-size:20px;
}
section{
background-image:url("images/frame 1.png");
margin-width:1440px;
margin-height:665px;
}

h1{
color:white;
width:716px;
float:center;
padding:120px;
height:234px;
margin-left:188px;
font-size:65px;
}
p{
color:white;
float:center;
width:716px;
height:234px;
margin-bottom:150px;
margin-left:300px;
font-size:20px;
}

footer{
background-color:blue;
display:block;
margin:40px 0px;
padding:20px;
font-size:20px;
color:white;
}

nav ul{
list-style-type:none;
text-align:center;
font-size:30px;
display:block;
}
nav li{
display:inline;
word-spacing:40px;
}

